@media screen and (max-width: 580px) {
  .filter-options {
    padding: 10px;
    flex-direction: column;
    height: 100px;
  }

  .inside #map-container {
    height:200px;
  }

  #restaurant-img {
    width: 300px;
  }

  #title {
    font-size: 25px;
  }

}

@media screen and (min-width: 581px) {
  #restaurant-img {
    width: 55%;
  }

  #title {
    font-size: 30px;
  }
}

@media screen and (min-width: 800px) {
  #title {
    font-size: 50px;
  }
}
